youtube_search
requests
youtube_dl
aiohttp
Pyrogram
Tgcrypto
asyncio
wget
aiofiles
OpenCC
pytube
pillow
hachoir
dnspython
motor
pyromod
psutil
ffmpeg-python
ffmpeg
python-arq
future
py-tgcalls
python-dotenv
